.originalImageSec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
}
.areaImg{
    max-width: 600px;
    max-height: 300px;
}
.areaButton{
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    padding: 15px 30px;
    background-color: #000;
    color: #fff;
    transition: 0.2s all ease-in-out;
}
.activeAnal{
    background-color: #000;
    color: #fff;
}
.nonActiveAnal{
    background-color: rgb(165, 158, 158);
    color: rgb(31, 28, 28);
}
.areaButton:hover{
    transform: scale(1.2);
}
.analzeSec{
    margin: 30px 0;
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.resultImageSec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.areaResultTitle{
    font-size: 22px;
    color: #000;
}
.areaResult{
    /* margin: 30px 200px; */
    width: 100%;
}
.resultContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.resultLabel{
    text-align: center;
}