.originalImageSec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
}
.areaImg{
    max-width: 600px;
    max-height: 300px;
}
.spinner-spc{
    margin: 0 0 0 10px;
    width: 1rem;
    height: 1rem;
}
.areaButton{
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 15px 30px;
    background-color: #000;
    transition: 0.2s all ease-in-out;
}

.btn {
    color: #fff;
    background-color: #000;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  .btn:hover {
    color: #fff;
    background-color: #000;
  }
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    transition: 0.2s all ease-in-out;
  }
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    border-radius: 8px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
.upload-btn-wrapper:hover{
    transform: scale(1.1);
}
.centerDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.analzeSec{
    margin: 30px 0;
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.resultImageSec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.areaResultTitle{
    font-size: 22px;
    color: #000;
}
.areaResult{
    /* margin: 30px 200px; */
    width: 100%;
}
.resultContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.resultLabel{
    text-align: center;
}