body {
	background: hsla(210, 27%, 97%, 1);
	font-family: 'Lato', sans-serif;
}

a {
	color: #1e1e1e;
}

a:hover {
	color: rgba(0, 0, 0, 0.9);
}

a:active {
	transition: none;
}


/* Index */
.index-container {
	width: 100%;
	padding: 0rem 0 0rem 0;
	color: white;
	background-color: #6210e1;
	/* background: url('./assets/blob.png');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover; */
}
.sec2{
	margin: 80px 0;
}
.bg-navbar-custom{
	background-color: #6210e1;
}
.bg-navbar-custom .navbar-brand{
	color:#fff;
}
.bg-navbar-custom .navbar-nav{
	color:#fff;
}
.bg-navbar-custom .nav-item{
	color:#fff;
}
.iframe-bot{
	width: 100%;
	height: 400px;
}
.dis{
	max-width:88% ;
}
.sample-image-container{
	margin: 50px 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.sample-image-container > h3{
	text-align: center;
}
.smapleImages{
	width: 100%;
	/* margin: 50px; */
	/* padding: 30px; */
	cursor: pointer;
    transition: 0.2s all ease-in-out;
}
.smapleImages:hover{
    transform: scale(1.1);
}

/* Sample-Image-Hover */

.sample-image-container .member{
	text-align: center;
	/* margin-bottom: 20px; */
	position: relative;

}
.sample-image-container .member .member-info {
	opacity: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	transition: 0.2s;
  }
  .sample-image-container .member .member-info-content {
	margin-top: -50px;
	transition: margin 0.2s;
  }
  
.sample-image-container .member:hover .member-info-content {
	margin-top: 0;
	transition: margin 0.4s;
  }
  
  .sample-image-container .member:hover h4 {
	font-weight: 700;
	margin-bottom: 2px;
	font-size: 18px;
	color: #fff;
  }
  
  .sample-image-container .member span {
	font-style: italic;
	display: block;
	font-size: 13px;
	color: #fff;
  }
  
  .sample-image-container .member:hover .member-info {
	background: rgba(0, 0, 0, 0.7);
	opacity: 1;
	transition: 0.4s;
	cursor: pointer;
  }
  
 
@media (min-width: 576px) {
	.index-container::before {
		left: -20%;
		top: 48%;
	}
	.iframe-bot{
		width: 100%;
		height: 550px;
	}
}

@media (min-width: 768px) {
	.dis{
		max-width: 62%;
	}
	.text-left{
		margin: 150px 0 0 20px;	
	}
}

@media (min-width: 992px) {
	.index-container{
		padding: 0rem 0 0rem 0; 
	}
	.dis{
		max-width: unset;
	}
}

@media (min-width: 1200px) {
	.index-container::after {
		height: 130px;
		width: 155px;
		right: 0;
		top: 12%;
	}

	.index-container::before {
		left: -12%;
		top: 48%;
	}

}

@keyframes index_container_blob {
	from {
		/*border-radius: 125%;*/
		transform: scale(0.4);
	}
	to {
		/*border-radius: 75% 50% 85% 50%;*/
		transform: scale(1);
	}
}

.index-image {
	width: 100%;
	height: auto;
	position: absolute;
	top: -5rem;
}

@media (min-width: 1375px) {
	.index-image {
		width: 115%;
	}
	.index-header {
		font-size: 3.2rem;
		font-weight: bold;
	}
}

.index-header {
	margin: 50px 0 30px 0;
	font-size: 2.9rem;
	font-weight: bold;
}

.index-subheader {
	font-size: 1.35rem;
}

.index-button {
	padding: 1rem 1.7rem;
	font-size: 1rem;
	letter-spacing: 0.15rem;
	font-weight: bold;
	text-transform: uppercase;
	box-shadow: 0 0 .8rem 0 rgba(136, 152, 170, .15) !important;
	transition: all .3s ease-in-out;
	border-color: #FFFFFF;
    border-radius: 0px 27px;
    color: #333333;
    background-color: #FFFFFF;
}
.index-button:hover {
    background-color: #d034e6;
    border-color: #d034e6;
	color: white;
}
/* .index-button>input{
	background-color: unset;
	font-size: 22px;
	height: 100%;
} */

/* Header container */
.header {
	padding: 4rem 0;
	margin-bottom: 1rem;
}

.user-avatar {
	border-radius: 50%;
	max-width: 80px;
	max-height: 80px;
}


/* Navbar */

.nav-item .nav-link{
	color: #fff !important;
}